 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om oss</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ett personligt, flexibelt och miljöinriktat serviceföretag som reparerar och renoverar bostäder. En fullständig Allt-i-Allo service som sätter kunden i centrum.</p>
                    <p>Godkänd för F-skatt med villkor (FA-skatt). Momsreg.nr/VAT-nr: SE571001145201.</p>
                    <p>Jag bedriver Rowan’s Hustomte service inom Malmö, just nu mellan april och oktober.</p>
                    <p>Mellan november och mars bedriver jag ett företag i Australien och har därför inte möjlighet att utföra arbete i Sverige under denna perioden.</p>
                    <p>I Sverige utför jag arbete från byten av belysningsarmatur till köksrenovering. Även större projekt som total renovering av lägenheter och lokaler.</p>
                </div>
                <div class="col-lg-4">
                    <p>I större projekt arbetar jag som huvudentreprenör och i överenskommelse med kunden anlitar jag underleverantörer som utför specialistarbete, till exempel elektriker, rörläggare och golvläggare.</p>
                    <p>Mer information om dessa företag och deras kontakt personer hitta du under Mina underleverantörer.</p>
                    <p>Kunder uppmanas att använder sig av ROT-avdrag som betyder att under 2016 kan 30% av arbetskostnader (inte förbrukningsmaterial) dras av mot din beskattning. Se ROT & RUT avdrag för mer information.</p>
                </div>
            </div>
        </div>
    </section>
