 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om oss</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ett personligt flexible och miljöinriktat serviceföretag som reparerar och renoverar bostäder. En fullständig Allt-i-Allo service som sätter kunden i centrum.</p>
                </div>
                <div class="col-lg-4">
                    <p>Godkänd för F-skatt med villkor (FA-skatt).</p>
                    <p>Momsreg.nr/VAT-nr: SE571001145201</p>
                </div>
            </div>
        </div>
    </section>
