 <!-- About Section -->
 <section class="success" id="rot">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>ROT- och RUT-avdrag</h2>
              <hr class="star-light">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
              <p>Skattereduktion kan medges privatperson som vid årets utgång är minst 18 år. Reduktionen tillgodoräknas genom att den som köpt husarbete kommer överens med utföraren att hen bara ska betala 70% av arbetskostnaden.</p>
              <p>Utföraren får sedan begära utbetalning från Skatteverket av den del av arbetskostnaden (inklusive mervärdesskatt) som köparen inte har betalat (30%), enligt den så kallade fakturamodellen. För att utföraren ska kunna få utbetalning från Skatteverket krävs att utföraren har F-skattsedel. I samband med utbetalningen till utföraren tillgodoförs köparen av arbetet preliminär skattereduktion med samma belopp. Beslut om slutlig skattereduktion fattas sedan i samband med köparens taxering.</p>
          </div>
          <div class="col-lg-4">
              <p>Skattereduktionen får uppgå till sammanlagt högst 50 000 kr per person och beskattningsår och den räknas av mot kommunal och statlig inkomstskatt (inklusive kapitalskatt), statlig fastighetsskatt och kommunal fastighetsavgift.</p>
              <p>Kortfattat, om man köper husarbete för upp till 100 000 kronor per år behöver man bara betala 70% av arbetskostnaden. Resten betalar Skatteverket enligt fakturamodellen till företaget som utför arbetet.</p>
          </div>
      </div>
  </div>
</section>
