<!-- About Section -->
<section id="subcontractors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Våra underleverantörer</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <p>Hos Rowan’s Hustomte service arbeta ett antal underleverantörer som utföra specialistarbete enligt
        överenskommelse med kunden.</p>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Elinstallatörer</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h4>Elpågarna i Malmö AB</h4>
        <p>ORG.NR: 556383-1675)<br />
          Arlövsvägen 2<br />
          211 24 Malmö<br />
          Bo Mårtensson – bosse.m@elpagarna.se 0708-47 69 41<br />
          Michael Parnelöv – mikael@elpagarna.se<br />
        </p>
        <p>
          Arbetsledare<br />
          Erik Klingborg 070 847694 erik@elpagarna.se<br />
          David Delring 0768873110 david@elpagarna.se<br />
        </p>
        <p>
          Kontor växel: 040 – 293 193<br />
          info@elpagarna.se
        </p>
      </div>
      <div class="col-lg-4">
        <img src="img/sub/elpagarna.jpg" class="img-responsive" alt="Elpågarna i Malmö AB" />
      </div>
    </div>
  </div>
</section>