<!-- About Section -->
<section id="subcontractors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Våra underleverantörer</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <p>Hos Rowan’s Hustomte service arbeta ett antal underleverantörer som utföra specialistarbete enligt
        överenskommelse med kunden.</p>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Elinstallatörer</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h4>Elpågarna i Malmö AB</h4>
        <p>ORG.NR: 556383-1675<br />
          Arlövsvägen 2<br />
          211 24 Malmö<br />
          Bo Mårtensson – bosse.m@elpagarna.se 0708-47 69 41<br />
          Michael Parnelöv – mikael@elpagarna.se<br />
        </p>
        <p>
          Arbetsledare<br />
          Erik Klingborg 070 847694 erik@elpagarna.se<br />
          David Delring 0768873110 david@elpagarna.se<br />
        </p>
        <p>
          Kontor växel: 040 – 293 193<br />
          info@elpagarna.se
        </p>
      </div>
      <div class="col-lg-4">
        <img src="img/sub/elpagarna.jpg" class="img-responsive" alt="Elpågarna i Malmö AB" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Värme Vatten och Sanitet</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h4>VVS Eliten Syd AB</h4>
        <p>ORG.NR: 556789-7581<br />
          Christoffer Nihlén & Per<br />
          0768-019164 / 0709-618742<br />
          info@vvseliten.se<br />
          JÄRNYXEGATAN 13<br />
          213 75 Malmö<br />
          Skåne län<br />
        </p>
      </div>
      <div class="col-lg-4">
        <img src="img/sub/vvs-eliten.jpg" class="img-responsive" alt="VVS Eliten Syd AB" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Golvläggare</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h4>N.E.W. Golv & Fastighet AB</h4>
        <p>ORG.NR: 556961-0669<br />
          Smedjegatan 1<br />
          234 30 Hörby<br />
          www.newgolv.se
        </p>
        <p>Niklas Pålsson<br />
          072-1867261<br />
          niklas@newgolv.se
        </p>
      </div>
      <div class="col-lg-4">
        <img src="img/sub/new.jpg" class="img-responsive" alt="N.E.W. Golv & Fastighet AB" />
      </div>
    </div>
  </div>
</section>